:root {
  --osd-background-color: rgba(240, 240, 240, 0.75);
}

.dragndrop_overlay {
  background-color: alpha(var(--accent-bg-color), 0.5);
  color: var(--accent-fg-color);
}

headerbar.desktop windowcontrols button image {
    color: alpha(white, 0.9);
    background: alpha(black, 0.6);
}

headerbar.desktop windowcontrols button:hover image {
    background: alpha(mix(black, white, 0.1), 0.5);
}

headerbar.desktop windowcontrols button:active image {
    background: alpha(mix(black, white, 0.2), 0.5);
}

.sheet-toolbar {
    padding: 12px;
}

.preview-loading-blur {
    filter: blur(6px);
}

.image-viewer-fab {
    min-width: 42px;
    min-height: 42px;
}

.osd-box {
    border-radius: 12px;
    background-color: var(--osd-background-color);
    padding: 6px;
}

.osd-box menubutton button {
  padding-left: 0;
  padding-right: 0;
}
